<h1><%= @article.title %></h1>
<%= link_to "Back to list", articles_path %>

<%= link_to "Edit this article", edit_article_path(@article) %>
<%= link_to "Delete this article",
  article_path(@article),
  method: :delete,
  data: {
    confirm: "Are u sure? Delete #{@article.title}?"
  }
%>

<p><%= @article.content %></p>
